{% extends 'base.html' %}

{% block meta %}
<!--
  <meta property="og:url" content="http://satprotocol.online" />
  <meta property="og:title" content="SAT PROTOCOL"/>
  <meta name="author" content="Andrey Popov"/>
  -->
{% endblock %}

{% block title %}
About SAT
{% endblock %}

{% block style %}
{% endblock %}

{% block header %}
{% include 'includes/welcome.html' %}
{% endblock %}

{% block content %}
<h2>
  About SAT
</h2>

<h3 class="sat-h3 sat-about-h3">
  Intervention through self-attachment
</h3>
<p class="sat-p sat-about-p">
  According to Socrates, an unexamined life is not worth living.
  Self-attachment technique (SAT) is a holistic approach for emotion self-regulation and
  increasing positive emotions: it emulates nature's evolutionary attachment protocol.
  The aim of SAT is taking control to achieve self-mastery
  by creating an internal affectional bond
  to enhance self-love, compassion, cheerfulness, creativity and strong will.
  In SAT,
  we create an affectional bond with our childhood self
  and "re-parent" them to reach their real and potential and heroic dreams.
  A person's true inner self that determines what they really want in life is different
  from their persona, created and influenced by the materialistic society.
  <!---->
</p>

<h3 class="sat-h3 sat-about-h3">
  In the beginning
</h3>
<p class="sat-p sat-about-p">
  Set yourself a goal, a socially useful ideal that guides us towards growth and
  self-development to empower us in today’s world with our problems.
  It could be achievement in an academic, scientific, literary, philosophical,
  athletic, spiritual, professional, charitable,
  or a socially progressive manufacturing/commercial/business field.
  If we do not have a clear goal at the start of the program,
  we try to find it as we practice the protocols.
  SAT is to be taken seriously: it is necessary to have some 8 hours of sleep every night,
  a healthy diet and at least 30 minutes of physical exercise daily
  to be able to practice the protocols productively.
  We avoid making important life decisions for a period of at least two months
  to be able to focus on SAT.
  <!---->
</p>


<h3 class="sat-h3 sat-about-h3">
  Four Stages of Self-Attachment
</h3>
<p class="sat-p sat-about-p">
  In four stages, self-attachment emulates the relationship between a
  child and a good parent
  • We turn our adult self, simply called adult, into a parent that can
  help the emotional development of our childhood self, simply called
  our child in these notes:
</p>
<ol class="sat-ol sat-about-ol">
  <li class="sat-li sat-about-li">
    Introduction to attachment theory and SAT
  </li>
  <li class="sat-li sat-about-li">
    Connecting compassionately with the child
  </li>
  <li class="sat-li sat-about-li">
    Creating an affectional bond with the child
  </li>
  <li class="sat-li sat-about-li">
    Developmental training for the child
  </li>
</ol>

<h3 class="sat-h3 sat-about-h3">
  Stage One: Introduction to SAT
</h3>
<p class="sat-p sat-about-p">
  SAT is a technique to enhance mental health and to empower
  individuals to excel themselves.
  Like any other form of self-improvement method, SAT entails serious
  effort, patience and perseverance on our behalf.
  The SAT protocol simulates the parent-child relationship, which may
  at first seem strange.
  Therefore, we should make ourselves informed by attachment theory
  in general and the scientific hypotheses of self-attachment technique.
  Two basic videos you can watch are on AHD webpage:
  <a href="http://humandevelopment.doc.ic.ac.uk/videos/video_AHD_session_1.mp4">
    here
  </a>
  and
  <a href="http://humandevelopment.doc.ic.ac.uk/videos/video_AHD_session_2.mp4">
    here
  </a>
  or otherwise see bellow:
</p>
<video width="320" height="240" controls>
  <source src="http://humandevelopment.doc.ic.ac.uk/videos/video_AHD_session_1.mp4" type="video/mp4"><!--
    -->
  Your browser does not support the video tag.
</video>
<video width="320" height="240" controls>
  <source src="http://humandevelopment.doc.ic.ac.uk/videos/video_AHD_session_2.mp4" type="video/mp4"><!--
    -->
  Your browser does not support the video tag.
</video>

<h3 class="sat-h3 sat-about-h3">
  Role-play in SAT
</h3>
<p class="sat-p sat-about-p">
  Problems managing our emotions are usually rooted in our childhood
  development.
  This means we may have not developed the skills to moderate our
  excitements, regulate our emotions, or to laugh at times of stress.
  In SAT, the adult learns how a good parent interacts with a child, and
  through role-playing they become a parent for their child.
  The intervention strategy is based on collaboration between the adult
  and the child for regulating emotions and learning to laugh.
</p>

<h3 class="sat-h3 sat-about-h3">
  Gradual Development Through SAT
</h3>
<p class="sat-p sat-about-p">
  Since SAT takes place through acquiring new positive habits,
  sustainable improvement will only take place gradually and depends
  on the consistent and daily repetition of the protocols.
  Non-optimal thought and behavioral patterns are developed over the
  course of many years in our childhood, and then consolidated by later
  repetition.
  Creation of more optimal thought and behavioral patterns therefore
  takes weeks and sometime months of consistent daily effort.
  This requires patience and perseverance.
</p>

<h3 class="sat-h3 sat-about-h3">
  Stage 2: Connecting compassionately with our child
</h3>
<p class="sat-p sat-about-p">
  Try to distinguish between your adult and your child
  Looking at “happy” and “unhappy” child photos helps in this effort.
  Think about your early years and emotional problems with parents
  and other significant figures in early childhood.
  The first principle of SAT is to have a warm and compassionate
  attitude towards our child and their emotional problems.
  Later this compassion is extended to other people.
</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>

<h3 class="sat-h3 sat-about-h3">

</h3>
<p class="sat-p sat-about-p">

</p>
{% endblock %}

{% block footer %}
{% endblock %}