{% extends 'base.html' %}

{% block meta %}
<!--
  <meta property="og:url" content="http://satprotocol.online" />
  <meta property="og:title" content="SAT PROTOCOL"/>
  <meta name="author" content="Andrey Popov"/>
+-->
{% endblock %}

{% block title %}
SAT Exercises
{% endblock %}

{% block style %}
{% endblock %}

{% block header %}
{% include 'includes/welcome.html' %}
{% endblock %}

{% block content %}
<h2>
  SAT Exercises
</h2>

<h2 class="sat-h2 sat-exercises-h2">
  Week 1 Exercises
</h2>
<h3 class="sat-h3 sat-exercises-h3">
  Exercise 1: (at least 5 minutes)
</h3>
<p class="sat-p sat-exercises-p">
  In a quiet place, look at your happy and unhappy photos;
  Interact with your avatar in different emotions;
  Recall positive and negative childhood memories and early
  relationships in the family.
</p>
<p class="sat-p sat-exercises-p">
  <a href="/exercises/week1/1">
    Play this exercise
  </a>
</p>

<h3 class="sat-h3 sat-exercises-h3">
  Exercise 2a: (at least 5 minutes)
</h3>
<ul class="sat-list sat-exercises-list">
  <li class="sat-li sat-exercises-li">
    (i) With your eyes closed, first imagine your happy photo/avatar,
    imagining that the child is near you;
  </li>
  <li class="sat-li sat-exercises-li">
    (ii) now imagine you are embracing the child;
  </li>
  <li class="sat-li sat-exercises-li">
    (iii) now imagine you are playing with the child, e.g. a game that you
    played as a child;
  </li>
  <li class="sat-li sat-exercises-li">
    (iv) now imagine you are dancing with the child.
    Reflect on how you feel in each phase from (i) to (iv).
  </li>
</ul>
<p class="sat-p sat-exercises-p">
  <a href="/exercises/week1/2a">
    Play this exercise
  </a>
</p>

<h3 class="sat-h3 sat-exercises-h3">
  Exercise 2b: (at least five minutes)
</h3>
<ul class="sat-list sat-exercises-list">
  <li class="sat-li sat-exercises-li">
    (i) With your eyes closed, imagine your unhappy photo/avatar,
    imagining the child is near you;
  </li>
  <li class="sat-li sat-exercises-li">
    (ii) now imagine you are embracing and consoling the child;
  </li>
  <li class="sat-li sat-exercises-li">
    (iii) Open your eyes and put on the Google Cardboard.
    <ul class="sat-list sat-exercises-list">
      <li class="sat-li sat-exercises-li">
        (a) Set a negative emotion (sad, angry, fearful or disgusted) on your
        avatar.
      </li>
      <li class="sat-li sat-exercises-li">
        (b) Then click on “Auto Emotion” and by staring at your child avatar
        imagine you are reassuring and comforting your child which makes
        the child happy and eventually dance.
      </li>
    </ul>
  </li>
  <li class="sat-li sat-exercises-li">
    Reflect on how you feel in each phase from (i) to (iii).
  </li>
</ul>
<p class="sat-p sat-exercises-p">
  <a href="/exercises/week1/2b">
    Play this exercise
  </a>
</p>

<h2 class="sat-h2 sat-exercises-h2">
  Week 1 Schedule
</h2>
<p class="sat-p sat-exercises-p">
  Practice Exercise 1 for at least 5 minutes;
  ● Exercise 2a: 5 minutes for the happy photo/avatar
  Exercise 2b: 5 minutes for the unhappy photo/avatar.
  ● This sequence to be practiced at least twice a day.
  ● Write down your experience after each session in your diary.
  ● Weekly evaluation: On Saturday before each session, please
  evaluate the week’s practice in the questionnaire that will be
  emailed to you.
</p>

<h2 class="sat-h2 sat-exercises-h2">
  Week 2
</h2>
<h3 class="sat-h3 sat-exercises-h3">
  Forming a passionate loving relationship with the child
</h3>
<p class="sat-p sat-exercises-p">
  This week, we establish an imaginative but passionate, loving and
  affectionate relationship with the child.
  • Self-attachment makes use of our ability to ‘self-love’.
  • The goal is that by forming a loving relationship with our childhood
  self, we create an emotional connection mirroring that which a good
  parent has for their children.
  • Parental love also includes eye gazing, hand holding, caressing,
  singing, playing, smiling and laughing
</p>


<h3 class="sat-h3 sat-exercises-h3">
  Exercise 3: Singing a song of affection
</h3>
<ul class="sat-list sat-exercises-list">
  <li class="sat-li sat-exercises-li">
    Print copies of happy photo to display at home, work, and in your wallet.
  </li>
  <li class="sat-li sat-exercises-li">
    Consider setting its digital image as the background on your phone and laptop, etc.
  </li>
  <li class="sat-li sat-exercises-li">
    <strong>
      Select a jolly lyrical song you cherish that invokes feelings of warmth, affection, love.
    </strong>
  </li>
  <li class="sat-li sat-exercises-li">
    Learn the song by heart and sing it as often as you can in your daily routine .
  </li>
  <li class="sat-li sat-exercises-li">
    While looking at the happy photo/avatar, sing the song, as a way to establish a deep
    emotional bond with the child in your mind.
  </li>
  <li class="sat-li sat-exercises-li">
    • Start quietly; then, over time, allow your voice to become louder while using more of
    your body (e.g. shaking your shoulders, hands, and lifting your eyebrows up and down).
  </li>
  <li class="sat-li sat-exercises-li">
    • Imagine that in this way, like a parent, you are have a loving, passionate dialogue and are
    joyfully dancing and playing with the child.
  </li>
</ul>
<p class="sat-p sat-exercises-p">
  <a href="/exercises/week2/3">
    Play this exercise
  </a>
</p>

<h2 class="sat-h2 sat-exercises-h2">
  Love and affection for the Child
</h2>
<p class="sat-p sat-exercises-p">
  Dopamine is released in maternal or romantic love or love of a deity.
  • Creating an affectional bond with the child through singing jolly love
  songs while looking at our favorite childhood photo releases dopamine in
  the brain’s reward center.
  • This leads to hope and motivation for carrying out the self-attachment
  protocols.
  • The secretion of dopamine also leads to the secretion of serotonin,
  oxytocin, and vasopressin, which prepare us for active loving and taking
  care of the child.
</p>

<h2 class="sat-h2 sat-exercises-h2">
  Communicating with the child
</h2>
<h4>
  Speaking out loud
</h4>
<p class="sat-p sat-exercises-p">
  In the process of caring for the child, it is important to communicate by
  speaking out loud, to create an emotional bond with them and help them
  towards higher levels of emotional maturity.
  • Even though we cannot see our child, the area of our brain that relates to
  long-term memories can hear our voice and recognize its kind content.
  • In childhood, speaking to one’s self in a loud voice plays an important role in
  emotional and cognitive development and the establishment of an internal
  dialogue. During school years, discipline often leads to the elimination of
  talking out loud with one’s self. Often, this is also suppressed at home.
  • Research shows that adults who speak out loud with themselves when
  solving cognitive problems are often more successful. Thus, speaking to
  one’s self out loud, whether as a child or an adult, is a sign of emotional and
  cognitive maturity and not a sign of madness.Exercise 4: Expressing love
  and care for the child
  • While genuinely smiling at the happy photo/avatar, loudly say to
</p>

<h3 class="sat-h3 sat-exercises-h3">
  Exercise 4: Expressing love and care for the child
</h3>
<ul class="sat-list sat-exercises-list">
  <li class="sat-li sat-exercises-li">
    While genuinely smiling at the happy photo/avatar, loudly say to your child:
  </li>
  <li class="sat-li sat-exercises-li">
    <strong>
      “I passionately love you and deeply care for you.”
    </strong>
  </li>
</ul>
<p class="sat-p sat-exercises-p">
  <a href="/exercises/week2/4">
    Play this exercise
  </a>
</p>


<h2 class="sat-h2 sat-exercises-h2">
  Vowing to care for the child
</h2>
<p class="sat-p sat-exercises-p">
  Humans have an innate and fundamental capacity to care for a child.
</p>
<h3 class="sat-h3 sat-exercises-h3">
  Exercise 5: Pledging to care and support our child
</h3>
<ul class="sat-list sat-exercises-list">
  <li class="sat-li sat-exercises-li">
    In this exercise, we start to care for the child as our own child.
  </li>
  <li class="sat-li sat-exercises-li">
    • We attribute and project our own emotions to the child.
  </li>
  <li class="sat-li sat-exercises-li">
    • We, as our adult self, begin with a pledge we make at an especial time and place
  </li>
  <li class="sat-li sat-exercises-li">
    • After reading the pledge silently, we confidently pledge out loud the following:
    <br />
    “From now on, I will seek to act as a devoted and loving parent to this child, consistently
    and wholeheartedly care for them in every way possible. I will do everything I can to
    support the health and emotional growth of this child”
  </li>
</ul>
<p class="sat-p sat-exercises-p">
  <a href="/exercises/week2/3">
    Play this exercise
  </a>
</p>

<h2 class="sat-h2 sat-exercises-h2">
  Week 2 Schedule
</h2>
<p class="sat-p sat-exercises-p">
  Days 1-5 in the week: Exercise 3 followed by Exercise 4 in each session.
  You can also initially revisit Exercises 1 and 2 if you think you need to.
  • Days 6-7 in the week: Exercise 5 in carefully planned sessions.
</p>
<p class="sat-p sat-exercises-p sat-exercises-aside-p">
  Aside: Watch the interview with former American convict Nick Harris performing a kind of self-
  attachment in prison for almost 20 years before he was acquitted and released.
  <a href="https://www.bbc.co.uk/sounds/play/b084bn5n">
    BBC radio 4 (interview)
    Starts 22min 45 sec finishes 31min 28
    (24min 43sec --- 28min 55sec)
  </a>
  <a href="https://www.youtube.com/watch?v=AFsan_5sRzw">
    2h 15m (interview)
    (7min 54sec --- 9min 34sec)
  </a>
</p>

<h2 class="sat-h2 sat-exercises-h2">
  Week 3 ...
</h2>
<p class="sat-p sat-exercises-p">
  ...
</p>

<!-- #################### WEEK 3 ####################### -->

<!-- hide week 3 
    
  <h2 class="sat-h2 sat-exercises-h2">
  </h2>
  <h3 class="sat-h3 sat-exercises-h3">
  </h3>
  <p class="sat-p sat-exercises-p">
  </p>
  
  <h3 class="sat-h3 sat-exercises-h3">
  </h3>
  <ul class="sat-list sat-exercises-list">
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
  </ul>
  <p class="sat-p sat-exercises-p">
    <a href="/exercises/week2/3">
      Play this exercise
    </a>
  </p>

  <h2 class="sat-h2 sat-exercises-h2">
  </h2>
  <p class="sat-p sat-exercises-p">
  </p>

  <h2 class="sat-h2 sat-exercises-h2">
  </h2>
  <p class="sat-p sat-exercises-p">
  </p>

  <h3 class="sat-h3 sat-exercises-h3">
  </h3>
  <ul class="sat-list sat-exercises-list">
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
  </ul>
  <p class="sat-p sat-exercises-p">
    <a href="/exercises/week2/4">
      Play this exercise
    </a>
  </p>

  <h2 class="sat-h2 sat-exercises-h2">
  </h2>
  <p class="sat-p sat-exercises-p">
  </p>
  <h3 class="sat-h3 sat-exercises-h3">
  </h3>
  <ul class="sat-list sat-exercises-list">
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
    <li class="sat-li sat-exercises-li">
    </li>
  </ul>
  <p class="sat-p sat-exercises-p">
    <a href="/exercises/week2/3">
      Play this exercise
    </a>
  </p>

  <h2 class="sat-h2 sat-exercises-h2">
  </h2>
  <p class="sat-p sat-exercises-p">
  </p>
  <p class="sat-p sat-exercises-p sat-exercises-aside-p">
  </p>
  -->

{% endblock %}

{% block footer %}
{% endblock %}